.tittleItemList {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3rem;
}

.uiball_loader {
    height: 93vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemList_container {
    margin: 6rem auto 17rem auto;
}