.item_container {
    margin: 1.1rem;
    color: rgba(0, 0, 0, 0.745);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(76, 160, 216, 0.788);
    border: 1px solid rgba(0, 0, 0, 0.115);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.34);
}

.item_img {
    padding-top: 8px;
    width: 380px;
}

.item_buttom {
    height: 2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(46, 48, 49, 0.315);
}

.item_content {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.itemm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.item_name {
    padding-top: .1rem;
    font-family:'Times New Roman', Times, serif;
}

.item_description {
    font-size: 1.1rem;
}

.item_price {
    color: rgba(0, 0, 0, 0.852);
    font-size: 1.35rem;
}