.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background-color: #4d70b1;
    padding: 0 0.5rem !important;
    height: max-content !important;
    margin: 0 !important;
}

.LinkedWord {
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: -0.5rem;
    margin-right: -3rem;
    margin-left: -30rem;
}

.Word1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-item--items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}