.nav {
    display: flex;
    list-style-type: none;
    margin-bottom: 2rem;
    margin-right: 3rem;
    color: beige;
}



.LinkedWord1 {
    text-decoration: none;
    color: beige;
    margin-right: 3rem;
    margin-bottom: 10rem;
}

.LinkedWord2 {
    text-decoration: none;
    color: beige;
    margin-bottom: 10rem;
}