.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 122, 179, 0.733);
}

.footer_item {
    display: flex;
    align-items: center;
    padding: 0rem .5rem;
}

.footer_item-icon {
    padding: .5rem;
    color: #24b1ca;
    font-size: 1rem;
}

.footer_item-item {
    display: flex;
    align-items: center;
    color: #030303;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-decoration: none;
}

.footer_item-item:hover {
    text-decoration: none;
    color: rgb(44, 121, 165);
}

.footer-decoration {
    text-decoration: none;
    margin: 0;
}